
{% include 'base.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                      <form role="search" class="navbar-form-custom" method="get" action="">
                      </form>
                  </div>
                  {% include 'base1.html' %}
              </nav>
            </div>
            <div class="row" style='margin-top:20px'>

                <button class="btn btn-primary" id='addmacBtn' style='margin-left:20px'>添加网络设备</button>

             <div class="col-sm-3" style="float: right;">
                 <form id="asset_form" method="post" action="/net_dev/net_search/" >
                            <div class="input-group">
                                <input type="text" class="form-control m-b" id="search_input" name="keyword" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn"">
                                    <input type="submit"  name="search" class="btn btn-xm btn-primary search_btn"   value="搜索">
                                        搜索
                                    </input>
{#                                    <button type="button" href="/assets/change_info_ajax/?_search=true" name="_search" class="btn btn-xm btn-success search_btn_pdf" onclick="return false">#}
{#                                        导出#}
{#                                    </button>#}
                                </div>
                            </div>
                         </form>
                        </div>

            </div>

            <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default" style='margin-top:20px;'>
            <!--                         <div class="panel-heading">
                                       idc信息
                                        <button class='btn btn-default' id='addIdc'>添加idc</button>
                                    </div> -->
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="dataTable_wrapper">


                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
            					    <th  style="text-align:center;">编号</th>
                                                        <th style="text-align:center;" >品牌</th>
                                                        <th style="text-align:center;">型号</th>
                                                        <th style="text-align:center;">类型</th>
                                                        <th style="text-align:center;">位置</th>
                                                        <th style="text-align:center;">机房</th>
                                                        <th style="text-align:center;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                 {%for all_net_dev in contacts %}
            <tr>
                <td id="bianhao" style="text-align: center">{{all_net_dev.id}}</td>
            	<td id="brand" style="text-align: center">{{all_net_dev.brand}}</td>
            	<td id="model_num" style="text-align: center">{{all_net_dev.model_num}}</td>
                <td id="type" style="text-align: center">{{all_net_dev.type}}</td>
                <td id="addr" style="text-align: center">{{all_net_dev.addr}}</td>
                <td id="idc_name" style="text-align: center">{{all_net_dev.idc_name}}</td>

                <td align="center">
            <span class="label label-primary hover deletemac"><a href="/net_dev/net_edit/?id={{ all_net_dev.id }}" style="color:white"  role="button">编辑</a></span>
            <span class=" label label-primary badge-danger">
              <!--  <a href="/net_dev/net_delete/?id={{ all_net_dev.id }}" style="color:white"  role="button">删除</a>-->
                <a style='color:white'  onClick="del_idc('/net_dev/net_delete/?id={{ all_net_dev.id }}');">删除</a>
            </span>
            	</td>
            </tr>
                 {%endfor%}
                                            </tbody>
                                            </table>
                                            <div>
                                                {% if search %}
                                                    {% include 'page_seach.html' %}
                                                {% else %}
                                                    {% include 'page.html' %}
                                                {% endif %}</div><br/>
                                            <div>
                                            <div style="float: right;"><h3>共计{{ net_dev_count }}个网络设备</h3></div>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
            </div>



  {% include 'base2.html' %}
          </div>
</div>

<div class="modal fade" id='addmacModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加网络设备</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal"  method="post" name="wwww" action="/net_add_dev/">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">品牌</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id='brand'  name="brand1">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">型号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id='model_num'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">类型</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id='type'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">位置</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id='addr'>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">机房</label>
    <div class="col-sm-10">
     <select id="idc_name"  class="form-control">
			{%for all_idc in all_idc%}
			<option>{{all_idc.idc_name}}</option>
			{%endfor%}

    </select>
      <!-- <input type="text" class="form-control" name='ip'> -->
    </div>
  </div>

</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary"  onclick="netadd(this);" >确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id='tipModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">龙体科技</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--删除按钮弹窗-->
<div class="modal fade" id="tipModal3">
  <div class="modal-dialog">
    <div class="modal-content message_align">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body">
        <p>您确认要删除吗？</p>
      </div>
      <div class="modal-footer">
         <input type="hidden" id="url"/>
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <a  onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#tipModal').on('hide.bs.modal',function(){
    location.reload()
})
$(function(){
       var oLanguage={
    "oAria": {
        "sSortAscending": ": 升序排列",
        "sSortDescending": ": 降序排列"
    },
    "oPaginate": {
        "sFirst": "首页",
        "sLast": "末页",
        "sNext": "下页",
        "sPrevious": "上页"
    },
    "sEmptyTable": "没有相关记录",
    "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
    "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
    "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
    "sInfoPostFix": "",
    "sDecimal": "",
    "sThousands": ",",
    "sLengthMenu": "每页显示条数: _MENU_",
    "sLoadingRecords": "正在载入...",
    "sProcessing": "正在载入...",
    "sSearch": "搜索:",
    "sSearchPlaceholder": "",
    "sUrl": "",
    "sZeroRecords": "没有相关记录"
}
$.fn.dataTable.defaults.oLanguage=oLanguage;
$('#dataTables-example').DataTable({
        responsive: true,
        // iDisplayLength:3
});
});
var pro = 10
var timer = null
timer = setInterval(function(){
    if (pro<100) {

    pro = pro*1.5

    $('#progress-reboot').css('width',pro+'%')
    }else{
        clearInterval(timer)
        $('#progress-reboot').addClass('hide')
    }

},100)
var is_right = true
setInterval(function(){
    var t = $('#alertText')
    var left = parseInt(t.css('left'))
    var val
    if (is_right) {
        if (left<300) {
            val = left+1
            t.css('left',val)
        }else{
            is_right = false
        }
    }else{
        if (left>250) {
            val = left-1
            t.css('left',val)
        }else{
            is_right = true
        }

    }
    // if (left<300&&left>250) {
    //     t.css('left',left+1)
    // };
},50)
</script>


<script>
    function del_idc(url){
     $('#url').val(url);
     $('#tipModal3').modal('show')}
     function urlSubmit(){
    var url=$.trim($("#url").val());
    window.location.href=url;
}
$('#addmacBtn').click(function(){
$('#addmacModal').modal('show')
})
    $(document).on('click','.deletemac',function(){
      var id = $(this).data('id')
      $.get('/deletemac?id='+id,function(res){
        if (res == 'ok') {
          location.reload()
        };
      })
    })
$('#confirmAddmacBtn').click(function(){
var is_val = true
$('#addmacForm').find('input').each(function(i,v){
  if (!$(v).val()) {
    $(v).after('<span class="text-danger">必填字段</span>')
    is_val = false
  }else{
    $(v).next().remove()
  }
})
if (is_val) {

$.get('/add_net_dev',$('#addmacForm').serialize(),function(data){
  if (data=='ok') {
    $('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
  };
})
};

})

</script>
<script type="text/javascript">

function netadd(ele){
    var   a=wwww.brand.value
    var   b=wwww.model_num.value
    var   c=wwww.type.value
    var   d=wwww.addr.value
    var   f=wwww.idc_name.value
if(a&&b&&c&&d&&f){
 var id=$(ele).attr("id");
$.ajax({
url:"/net_add_dev/",
data:{brand:a,model_num:b,type:c,addr:d,idc_name:f},
success:function(data){
 if (data=='ok') {
 $('#tipModal').find('.modal-body').html('添加成功').end().modal('show')
       }
  }
});
}}


 $("#search_input").keydown(function(e){
        if(e.keyCode==13){
            change_info()
            }
    });
    $('.search_btn').unbind('click').bind('click',function(){
        var url= $(this).attr("href");
        $.ajax({
            type: "GET",
            url: url,
            data: $("#asset_form").serialize(),
            success: function (data) {
                $("#replace").html(data);
            }
        });
    });
 function change_info(){
        // var data = $("#asset_form").serialize();
        // location.href = "/assets/change_info_ajax/?" + data;
        $.ajax({
            type: "GET",
            url: "/mac/change_info_ajax/",
            data: $("#asset_form").serialize(),
            success: function (data) {
                $("#replace").html(data);
            }
        });
    }
</script>
